version: 2.1
orbs:
  rust: circleci/rust@1.6.0
jobs:
  build:
    docker:
      - image: cimg/rust:1.65.0
    steps:
      - run: sudo apt-get update 
      - run: sudo apt-get install libssl-dev cmake protobuf-compiler --assume-yes
      - run: protoc --version
      - checkout
      - rust/clippy:
          with_cache: false
      - rust/build:
          with_cache: false
      - rust/test:
          with_cache: false
