version: 2.1
orbs:
  rust: circleci/rust@1.6.0
jobs:
  build:
    docker:
      - image: ubuntu:latest
    steps:
      - run: apt-get update
      - run: apt-get install libssl-dev cmake protobuf-compiler
      - run: protoc --version
      - checkout
      - rust/clippy:
          with_cache: false
      - rust/build:
          with_cache: false
      - rust/test:
          with_cache: false
